In [5]:
import gzip
import json
import re
import os
import sys
import numpy as np
import pandas as pd
import random
from collections import defaultdict
pd.options.display.float_format = '{:,}'.format

In [6]:
DIR = './'
DIR_GENRE = './genre/'

In [7]:
file_name = os.path.join(DIR, 'goodreads_books.json.gz')

In [4]:
def parse_fields(line):
    data = json.loads (line)
    return {
      "book_id": data["book_id"],
      "isbn": data["isbn"],
      "title": data["title"],
    "authors" : data['authors']
  }

In [5]:
books = [] 

with gzip.open(file_name) as f:
    while True:
        line = f.readline()
        if not line:
            break
        fields = parse_fields(line)
        books.append(fields)

In [6]:
import pandas as pd


df_books = pd.DataFrame.from_dict(books)

In [7]:
df_books.head()

,book_id,isbn,title,authors
0,5333265,0312853122,W.C. Fields: A Life on Film,"[{'author_id': '604031', 'role': ''}]"
1,1333909,0743509986,Good Harbor,"[{'author_id': '626222', 'role': ''}]"
2,7327624,,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","[{'author_id': '10333', 'role': ''}]"
3,6066819,0743294297,Best Friends Forever,"[{'author_id': '9212', 'role': ''}]"
4,287140,0850308712,Runic Astrology: Starcraft and Timekeeping in ...,"[{'author_id': '149918', 'role': ''}]"

In [8]:
df_books.to_csv('books_data.txt', encoding='utf-8', index=False, sep=',')

In [10]:
df_books = pd.read_csv('books_data.txt')

In [12]:
df_books[(df_books["book_id"] == 24375664)]

,book_id,isbn,title,authors
547168,24375664,NaN,"The Dark Forest (Remembrance of Earth’s Past, #2)","[{'author_id': '5780686', 'role': ''}, {'autho..."

In [14]:
df.head()

   book_id        isbn                                              title
0  5333265  0312853122                        W.C. Fields: A Life on Film
1  1333909  0743509986                                        Good Harbor
2  7327624              The Unschooled Wizard (Sun Wolf and Starhawk, ...
3  6066819  0743294297                               Best Friends Forever
4   287140  0850308712  Runic Astrology: Starcraft and Timekeeping in ...

In [13]:
file_name_authors = os.path.join(DIR, 'goodreads_book_authors.json.gz')

In [14]:
def parse_fields_authors(line):
    data = json.loads (line)
    return {
      "author_id": data["author_id"],
      "name": data["name"]
  }

In [15]:
authors = [] 

with gzip.open(file_name_authors) as f:
    while True:
        line = f.readline()
        if not line:
            break
        fields = parse_fields_authors(line)
        authors.append(fields)

In [16]:
df_authors = pd.DataFrame.from_dict(authors)

In [17]:
df_authors.to_csv('authors_data.txt', encoding='utf-8', index=False, sep=',')

In [18]:
df_authors = pd.read_csv('authors_data.txt')

In [1]:
import pandas as pd

In [17]:
df_books = pd.read_csv('books_data.txt')
df_authors = pd.read_csv('authors_data.txt')

In [ ]:
for row in range(len(df_books['authors'])):
    for dics in list(df_books['authors'][row]):
        print(dics)

In [8]:
df_books_2 =  pd.read_csv('books.csv')

In [10]:
df_books_2[(df_books_2["book_id"] == '24375664')]

Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, isbn13, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5, image_url, small_image_url]
Index: []

[0 rows x 23 columns]

In [8]:
def parse_fields_authors_list(line):
    data = json.loads (line)
    return {
    "authors" : data['authors']
  }

In [9]:
authors_list = []

In [11]:
with gzip.open(file_name) as f:
    while True:
        line = f.readline()
        if not line:
            break
        fields = parse_fields_authors_list(line)
        authors_list.append(fields)

In [12]:
len(authors_list)

2360655

In [13]:
authors_list[0]

{'authors': [{'author_id': '604031', 'role': ''}]}

In [14]:
author_dic_list2 = []
for author_dic in authors_list:
    arr = []
    for sample in author_dic['authors']:
        arr.append(sample['author_id'])
    author_dic_list2.append(arr)

In [15]:
author_dic_list2

[['604031'],
 ['626222'],
 ['10333'],
 ['9212'],
 ['149918'],
 ['3041852'],
 ['215594'],
 ['19158'],
 ['5807700'],
 ['2983296', '40075'],
 ['37778'],
 ['242185'],
 ['27397'],
 ['35259'],
 ['3083854'],
 ['39054', '11099'],
 ['4862'],
 ['137561'],
 ['5411'],
 ['4092328'],
 ['75424'],
 ['1357577'],
 ['1357577'],
 ['3389', '105602'],
 ['31308'],
 ['50873', '232533'],
 ['166520', '166517', '3958428', '3958429'],
 ['6536612'],
 ['15585'],
 ['5054653'],
 ['7326076'],
 ['15104629', '14425713'],
 ['51229', '110982', '5768434'],
 ['2994299'],
 ['5360266'],
 ['190988'],
 ['8289606'],
 ['1265'],
 ['8551671'],
 ['17038441'],
 ['589328', '2608283'],
 ['16667', '44554'],
 ['1455', '1004238'],
 ['90411', '14356708'],
 ['15425909'],
 ['53167', '13536229'],
 ['6475486', '14856310', '14253'],
 ['100084'],
 ['47231'],
 ['3330668'],
 ['5804912'],
 ['2787558'],
 ['834674'],
 ['17180082'],
 ['285644'],
 ['337108', '4585413', '1093599'],
 ['14843595'],
 ['169159'],
 ['4918'],
 ['3274315'],
 ['89445', '1528477', '106170', '42820'],
 ['8070', '650106'],
 ['15036621'],
 ['3258'],
 ['5533990'],
 ['1493903'],
 ['5395324'],
 ['526866'],
 ['162140', '2742419'],
 ['7314532'],
 ['6217503'],
 ['16073', '3484503', '367928', '1028358'],
 ['123715', '552417'],
 ['11593', '15973929'],
 ['15079113'],
 ['1938', '603349'],
 ['13607545', '13607545'],
 ['13658169'],
 ['1533165'],
 ['6938130'],
 ['1051586'],
 ['169662', '23519', '18119', '29688'],
 ['5193034', '5346805'],
 ['146147'],
 ['37450'],
 ['6601585'],
 ['618935'],
 ['14771610'],
 ['7083555'],
 ['41194'],
 ['16209952', '853385'],
 ['3111153'],
 ['6462472'],
 ['6480066'],
 ['16272'],
 ['2313236'],
 ['293603'],
 ['9343'],
 ['410348'],
 ['207766'],
 ['7034616'],
 ['7205180', '5166301', '3482882'],
 ['14425920'],
 ['5031025'],
 ['7066263', '8444911'],
 ['51308', '51307'],
 ['241450'],
 ['20185'],
 ['1540277', '526216'],
 ['8354390'],
 ['4577517'],
 ['7355144'],
 ['81563', '89537'],
 ['2953781'],
 ['14241994'],
 ['4018722'],
 ['1015982'],
 ['5806527'],
 ['22458', '422353'],
 ['1916427'],
 ['78057'],
 ['843200'],
 ['5819662'],
 ['617249'],
 ['5474715'],
 ['123715', '552417'],
 ['12577', '11091'],
 ['4738706'],
 ['6564404'],
 ['635213'],
 ['335695', '7810887'],
 ['14965', '3188368', '131836', '7507599'],
 ['24594'],
 ['5757470'],
 ['4349351'],
 ['13195', '30853'],
 ['6868661'],
 ['14155472', '8224446', '1251983', '5808419', '4346284'],
 ['14965', '3188368'],
 ['1202800', '4492199'],
 ['2742909'],
 ['8258'],
 ['4391289'],
 ['6537142'],
 ['4973079'],
 ['3377500'],
 ['51646'],
 ['2736959'],
 ['16996479'],
 ['714123'],
 ['7265977'],
 ['6466154', '2978217'],
 ['16667'],
 ['5873266'],
 ['3037628'],
 ['4529674'],
 ['370361'],
 ['2760047', '4589095'],
 ['11315'],
 ['7151691'],
 ['6761385'],
 ['71251'],
 ['182281'],
 ['445601', '209811', '445600'],
 ['4459027'],
 ['4383146'],
 ['1521399', '7992537', '1241765'],
 ['12020074'],
 ['50873', '232533'],
 ['7323', '3039530'],
 ['1102395'],
 ['7323', '3039530'],
 ['7323', '3039530'],
 ['2776840'],
 ['8164'],
 ['777644'],
 ['36346'],
 ['5137697'],
 ['13501628'],
 ['19697'],
 ['7872218', '88746'],
 ['7792315'],
 ['172490', '2490272'],
 ['48516'],
 ['15441', '7872217'],
 ['12935'],
 ['7362076'],
 ['17854'],
 ['3112114', '667143'],
 ['3029755'],
 ['15203920'],
 ['25108', '2339869'],
 ['7414637'],
 ['18540', '248155'],
 ['25108'],
 ['18540'],
 ['5344544'],
 ['32119'],
 ['23113'],
 ['6979307'],
 ['6553943'],
 ['3137322', '69892'],
 ['5576046', '4669632'],
 ['7204031', '5622158', '4037407'],
 ['523138'],
 ['3420'],
 ['1045743'],
 ['26899'],
 ['13730'],
 ['570512'],
 ['854076'],
 ['539783'],
 ['11058226'],
 ['263567'],
 ['474995'],
 ['6179571'],
 ['3354', '2943855', '3217205'],
 ['15165816', '4741032', '15265828'],
 ['386083', '5649650'],
 ['38569'],
 ['3255974'],
 ['10848928'],
 ['2784066'],
 ['639570', '3194718'],
 ['18791'],
 ['415236'],
 ['12855'],
 ['17045'],
 ['7059622'],
 ['7516813'],
 ['4750'],
 ['31107'],
 ['127562'],
 ['243000', '24945'],
 ['10885'],
 ['169992'],
 ['777491'],
 ['5358028'],
 ['8929891'],
 ['104544', '7151511'],
 ['12504'],
 ['26957'],
 ['3238619', '2926031'],
 ['238787'],
 ['238787'],
 ['4697205'],
 ['70026', '5752063', '3376756', '8583486'],
 ['14308759'],
 ['2952441'],
 ['608923'],
 ['669810'],
 ['411899'],
 ['5815821', '5815822'],
 ['6948888'],
 ['214232', '441879'],
 ['13757'],
 ['25707'],
 ['8328712', '7218946'],
 ['15613826'],
 ['44415'],
 ['26086'],
 ['5815823'],
 ['33200'],
 ['2785768'],
 ['33200'],
 ['33200'],
 ['12599442'],
 ['596418', '165280'],
 ['5834730', '5609664'],
 ['4996195'],
 ['7912913'],
 ['5830804'],
 ['331237'],
 ['1321218'],
 ['2008604'],
 ['612167'],
 ['240201'],
 ['13850345'],
 ['5937986'],
 ['11032481'],
 ['945626'],
 ['2027516'],
 ['17597'],
 ['241835', '15901580'],
 ['7963547'],
 ['15584446', '15584447'],
 ['10366'],
 ['13763012'],
 ['573917'],
 ['13757', '2931413'],
 ['3975855'],
 ['8431890', '5831650'],
 ['3178510'],
 ['33981'],
 ['4982062'],
 ['10657'],
 ['9791177'],
 ['2614'],
 ['72467'],
 ['138150', '14214539'],
 ['1124726'],
 ['7984711'],
 ['13301543', '16211999'],
 ['7987749'],
 ['274290'],
 ['51211', '14814041'],
 ['11563', '14182642'],
 ['1629655'],
 ['7271075'],
 ['20560'],
 ['6455200', '5227552'],
 ['61231', '4980321'],
 ['5372204'],
 ['294649'],
 ['150591'],
 ['187837'],
 ['1533577'],
 ['150589', '7171651', '7171652', '150588'],
 ['6150407'],
 ['150590', '117045'],
 ['681236'],
 ['294649'],
 ['2988946'],
 ['2982821', '3080'],
 ['6548452'],
 ['20560'],
 ['17250134'],
 ['2798287', '6548455'],
 ['179571'],
 ['7085209'],
 ['4352250'],
 ['6469571'],
 ['2905297', '1144378'],
 ['3112090'],
 ['4999210'],
 ['6562436',
  '6037253',
  '6037254',
  '6037255',
  '7325890',
  '7325891',
  '7325892',
  '7325893',
  '1289084',
  '5467969',
  '7325894',
  '7325895',
  '7325896',
  '7325897',
  '3370705'],
 ['964805'],
 ['13700617'],
 ['4093537'],
 ['868285', '788262', '7946358'],
 ['11912'],
 ['13700617'],
 ['2942853'],
 ['181217'],
 ['93069'],
 ['21609'],
 ['5124208'],
 ['1602351'],
 ['4864634'],
 ['8291021'],
 ['21911'],
 ['1263751'],
 ['16096319'],
 ['5769518'],
 ['5618667'],
 ['5327972'],
 ['17740'],
 ['7315500'],
 ['99142'],
 ['27847'],
 ['616144'],
 ['791996'],
 ['14046158'],
 ['6952482'],
 ['327237'],
 ['188564'],
 ['7581'],
 ['5669'],
 ['3399621'],
 ['7807'],
 ['117366', '3088831', '4371642'],
 ['281810'],
 ['8363'],
 ['68284', '27644'],
 ['15050617'],
 ['4381377'],
 ['10991', '487600', '4302324'],
 ['622116'],
 ['484376'],
 ['485820'],
 ['2753523'],
 ['58102'],
 ['512651', '3408036'],
 ['3413928'],
 ['3404508'],
 ['773054', '3408315'],
 ['513828'],
 ['125272'],
 ['13696122', '4878381'],
 ['620300'],
 ['12940'],
 ['2383'],
 ['8794'],
 ['6572837'],
 ['5769580'],
 ['1173254'],
 ['1228573'],
 ['35931', '6959452'],
 ['5163699'],
 ['1026791'],
 ['333151'],
 ['4500872'],
 ['4383946'],
 ['294649'],
 ['201334'],
 ['223845'],
 ['21748'],
 ['5709381'],
 ['26897'],
 ['7012461'],
 ['6470635'],
 ['30946'],
 ['16096144',
  '5806077',
  '16379856',
  '16379857',
  '16379858',
  '16379859',
  '16379860',
  '16379861',
  '15060575',
  '6887875',
  '544753',
  '16379862',
  '16379863',
  '16379864',
  '4678519',
  '16379866',
  '16379867',
  '16379868',
  '16195401',
  '16379869',
  '16379870',
  '16424737'],
 ['796'],
 ['63011'],
 ['1394820'],
 ['6869276', '7359735', '6384773'],
 ['2752928'],
 ['71096'],
 ['26090'],
 ['52813', '157986'],
 ['2565'],
 ['8993'],
 ['24781', '79136', '169661'],
 ['104926'],
 ['7246093'],
 ['35007'],
 ['35007'],
 ['257093'],
 ['4722094'],
 ['5408549'],
 ['35007', '155273'],
 ['638156', '4635513'],
 ['14004', '5553612'],
 ['1023510', '4940813'],
 ['2568433'],
 ['3843', '155273'],
 ['4483155'],
 ['13932352'],
 ['3389', '5288663'],
 ['61173'],
 ['13561'],
 ['311098'],
 ['6474348', '4132657'],
 ['4749058'],
 ['3251728'],
 ['61168'],
 ['468915'],
 ['35507', '4006336'],
 ['23113'],
 ['2983829'],
 ['222111', '4112701'],
 ['910810'],
 ['5087605', '6991433'],
 ['1937943'],
 ['3283233'],
 ['854076', '86452', '54622'],
 ['736431'],
 ['5171777', '3344231'],
 ['196767'],
 ['226710'],
 ['206495'],
 ['68900'],
 ['30748'],
 ['12772', '12771'],
 ['5158478'],
 ['14529', '15176377'],
 ['5989065'],
 ['130617'],
 ['4798562', '2767108'],
 ['54544'],
 ['14859335'],
 ['1935000'],
 ['838721'],
 ['2737'],
 ['16839'],
 ['291815'],
 ['15661'],
 ['86277'],
 ['4951964'],
 ['4381074'],
 ['13681001'],
 ['8396171'],
 ['5339130'],
 ['695820'],
 ['590726'],
 ['2531685'],
 ['7032108'],
 ['4601173'],
 ['20575'],
 ['5364942'],
 ['14040019'],
 ['38631'],
 ['14212213'],
 ['6505161'],
 ['3310808'],
 ['2966342'],
 ['1242951'],
 ['172003'],
 ['1919189'],
 ['20010', '16207', '50802'],
 ['25492'],
 ['2731811'],
 ['38569'],
 ['113328', '5316545'],
 ['7084', '7033847'],
 ['15098044'],
 ['2934796', '179182', '179179', '179180', '179181'],
 ['14688785'],
 ['3370827'],
 ['14172227', '5784316', '6471068', '7171813', '14172229', '14172327'],
 ['8421046'],
 ['13994785'],
 ['34765'],
 ['3413185', '2733338'],
 ['16686958'],
 ['17015', '17010', '2387518'],
 ['17015', '17010', '2387518'],
 ['2874334'],
 ['332941'],
 ['193436'],
 ['6378', '571183'],
 ['3347387'],
 ['8715'],
 ['4109302'],
 ['1218314'],
 ['22475'],
 ['7340907'],
 ['594436'],
 ['194961'],
 ['6904638'],
 ['330649', '8409236'],
 ['4716240', '6566847'],
 ['570218'],
 ['3486415'],
 ['3486415'],
 ['4397603'],
 ['569269'],
 ['2930346'],
 ['178000', '15016585'],
 ['2654606'],
 ['165172'],
 ['340148'],
 ['7170883'],
 ['2918731'],
 ['106843'],
 ['6547911'],
 ['1580'],
 ['4134859', '2347982'],
 ['4441913'],
 ['13848246'],
 ['1415302'],
 ['16465599'],
 ['3706'],
 ['1194'],
 ['1193527'],
 ['4019418'],
 ['2919056'],
 ['159041'],
 ['4344473'],
 ['251128'],
 ['30697', '215034', '30702'],
 ['30691'],
 ['130541'],
 ['25205'],
 ['876403', '5146047'],
 ['15451907'],
 ['1776528'],
 ['1428675'],
 ['181070'],
 ['99117'],
 ['14865445'],
 ['4112015', '15451909'],
 ['8015953'],
 ['4741881'],
 ['7145403'],
 ['39464'],
 ['3009736'],
 ['51289', '141619'],
 ['5011219'],
 ['7529792'],
 ['97184'],
 ['14874556', '13684594'],
 ['30691'],
 ['198684'],
 ['619932'],
 ['2572'],
 ['15207082'],
 ['41495', '2532316', '3112956'],
 ['1049088'],
 ['6536006'],
 ['45317'],
 ['5340891', '5340892', '7224524'],
 ['6426133'],
 ['4039443'],
 ['2924831'],
 ['762361'],
 ['14166772'],
 ['7248681'],
 ['38550'],
 ['263660'],
 ['3001335'],
 ['2770657'],
 ['33919', '4671437'],
 ['3459410'],
 ['4419420'],
 ['21155'],
 ['86098', '16985998'],
 ['776431'],
 ['3080840'],
 ['8685'],
 ['8368791'],
 ['576434', '11291359'],
 ['1284643', '5339078'],
 ['14261974'],
 ['156642'],
 ['156644'],
 ['156645'],
 ['97671', '1214192'],
 ['16598876'],
 ['5080'],
 ['40983'],
 ['110984', '285217'],
 ['5414173'],
 ['147736'],
 ['834211'],
 ['13901'],
 ['3370555'],
 ['274512', '274511'],
 ['734698'],
 ['808263'],
 ['7303102'],
 ['5352392'],
 ['8759', '5048266'],
 ['2993356'],
 ['193655', '14878027'],
 ['178235', '14237723'],
 ['13465671'],
 ['67970'],
 ['103961'],
 ['1020792', '354559', '5138534'],
 ['4128', '8619977'],
 ['84823'],
 ['5821280', '5821270', '4807115', '368111', '4459021', '6430546'],
 ['1023510'],
 ['198444', '3977902'],
 ['15486288'],
 ['325185', '23125'],
 ['609422', '892'],
 ['335856'],
 ['516921'],
 ['4562483'],
 ['320332', '967397'],
 ['163', '2936530'],
 ['3116117'],
 ['156503', '151388'],
 ['17200611', '5245154'],
 ['5775630'],
 ['16026530'],
 ['1506'],
 ['647438'],
 ['4562483'],
 ['5435058',
  '518734',
  '5364295',
  '492992',
  '380673',
  '3077559',
  '4151460',
  '4775981',
  '15392',
  '5364294',
  '5364293'],
 ['186643'],
 ['556176'],
 ['13487635'],
 ['11957'],
 ['50071'],
 ['6864148', '5829362', '7420298'],
 ['227429'],
 ['55791'],
 ['12695'],
 ['4538804'],
 ['35422'],
 ['8442032'],
 ['35422', '2853833'],
 ['35422'],
 ['5347217', '5347218', '42275'],
 ['52432'],
 ['15024396'],
 ['7214107'],
 ['4524500'],
 ['1244'],
 ['2779162'],
 ['7133378'],
 ['254202'],
 ['5831332', '7519603'],
 ['6579126', '460870'],
 ['5206280'],
 ['1856577'],
 ['404567'],
 ['2864316'],
 ['8145659', '3261733'],
 ['4043', '8559303'],
 ['801962'],
 ['4518555'],
 ['150037'],
 ['4052252'],
 ['7417657'],
 ['45429'],
 ['72043', '61625'],
 ['1461'],
 ['127738', '202258'],
 ['2047242'],
 ['72043'],
 ['72043'],
 ['61099', '114626'],
 ['161054', '6458644'],
 ['13260036'],
 ['137386'],
 ['58013', '623602'],
 ['1880316'],
 ['44540'],
 ['46782'],
 ['5822041'],
 ['7379968'],
 ['5784640'],
 ['673768'],
 ['721481'],
 ['980713'],
 ['8293670'],
 ['4829338'],
 ['14106216'],
 ['174946'],
 ['6206'],
 ['7722', '289245'],
 ['7195'],
 ['5862584'],
 ['6259'],
 ['73435'],
 ['13490770'],
 ['5080042'],
 ['6693826'],
 ['5820186'],
 ['373526'],
 ['5827833'],
 ['2864598'],
 ['1245772', '8523581'],
 ['347654'],
 ['5194'],
 ['3389', '40573'],
 ['8106692'],
 ['118424'],
 ['7085769'],
 ['6429866'],
 ['4191', '3114377'],
 ['865', '12331'],
 ['4882127'],
 ['7302191'],
 ['1441', '4028753'],
 ['22543'],
 ['5139621'],
 ['565621'],
 ['870'],
 ['344352'],
 ['5137727'],
 ['1654', '2785687'],
 ['31227'],
 ['175979'],
 ['7020049'],
 ['15058478'],
 ['4610'],
 ['250363', '45642'],
 ['6965675'],
 ['358318'],
 ['250363', '738091'],
 ['8445092'],
 ['13557729', '346732'],
 ['14653917'],
 ['30195'],
 ['41000', '104702'],
 ['8118587'],
 ['1425903'],
 ['29185'],
 ['64497'],
 ['15503315', '15503316'],
 ['2448'],
 ['73182'],
 ['159', '921548'],
 ['4119242'],
 ['5407382'],
 ['46393'],
 ['415549'],
 ['13275'],
 ['13296', '13295'],
 ['828228'],
 ['7128'],
 ['7128'],
 ['880695'],
 ['8509911'],
 ['7016896', '7016898'],
 ['240576'],
 ['656983', '703849'],
 ['7248274'],
 ['5297'],
 ['7128'],
 ['7128'],
 ['348174', '188424', '335510'],
 ['547708'],
 ['1217665', '7506055'],
 ['9845097'],
 ['4837368'],
 ['4574836', '4574828'],
 ['31234'],
 ['1330292', '2860116'],
 ['53283'],
 ['21706'],
 ['17059'],
 ['5696316'],
 ['233619', '4458949'],
 ['6886477'],
 ['3170434'],
 ['70670'],
 ['3370'],
 ['13388', '3954869'],
 ['21700', '21699'],
 ['17059'],
 ['21702', '26181'],
 ['21701'],
 ['21705', '21704', '75038'],
 ['6551449'],
 ['8341231'],
 ['726739', '26359'],
 ['67834'],
 ['14404'],
 ['133890', '3211011'],
 ['277189'],
 ['2901559', '1411091'],
 ['60913'],
 ['16521642'],
 ['65977'],
 ['269130'],
 ['7788171'],
 ['10182', '197005', '4615365', '18833', '63770', '17303138'],
 ['14563732'],
 ['12937', '14318702'],
 ['108907'],
 ['4554320'],
 ['6976762'],
 ['4430', '473481'],
 ['7207291'],
 ['143971'],
 ['136558', '3979348'],
 ['848452'],
 ['14555', '143970', '2942393', '691354'],
 ['38550', '3020190'],
 ['3400717', '847789'],
 ['36120'],
 ['6252'],
 ['3389', '41180'],
 ['1943477', '795116'],
 ['656415'],
 ['2400529', '5740703'],
 ['2853809'],
 ['142160'],
 ['38951'],
 ['14511283'],
 ['13554'],
 ['6991727', '7579616', '17045137', '17045138', '9872245', '17045139'],
 ['457894'],
 ['38951'],
 ['38951'],
 ['1270347'],
 ['38951'],
 ['38951'],
 ['38951'],
 ['38951'],
 ['71956', '24758'],
 ['592389'],
 ['818508'],
 ['83354'],
 ['12424', '14613', '93103'],
 ['8196089'],
 ['390509', '14676997'],
 ['6582688'],
 ['296961'],
 ['10991', '4406238', '5096033'],
 ['2923898'],
 ['1731936'],
 ['59972'],
 ['9226'],
 ['7893815'],
 ['91382'],
 ['8214'],
 ['531738'],
 ['1367814'],
 ['5179'],
 ['176488', '2085', '3510123'],
 ['65335'],
 ['29553'],
 ['68285'],
 ['746416', '5824672'],
 ['16085061'],
 ['6574808'],
 ['6587469'],
 ['1271914'],
 ['199983'],
 ['16150709'],
 ['12942'],
 ['8188216'],
 ['75055', '17108664'],
 ['16283208'],
 ['19879'],
 ['7992531'],
 ['5831854'],
 ['6923824'],
 ['1161372',
  '20295',
  '377417',
  '908868',
  '24902',
  '25376',
  '2917033',
  '2951127',
  '51204',
  '874602',
  '3389',
  '2283303',
  '5373338',
  '33919',
  '346732',
  '8988',
  '121364',
  '57814',
  '338705',
  '3001246',
  '589',
  '4632660',
  '2860219',
  '4338',
  '3036291',
  '142270',
  '14454',
  '22645',
  '49624',
  '27841',
  '3524',
  '4396277'],
 ['396164'],
 ['6875729'],
 ['74416'],
 ['6557385'],
 ['4141543', '6428553', '6524785', '5285453', '4180276', '6454423'],
 ['807152'],
 ['74416'],
 ['142683'],
 ['24183', '27100'],
 ['6765', '25791', '344505'],
 ['24183', '27100'],
 ['28115', '4194881', '326496', '302521'],
 ['5806041'],
 ['4476934'],
 ['6521131'],
 ['6521131'],
 ['4893411'],
 ['339874'],
 ['206097'],
 ['6001'],
 ['133538'],
 ['25545'],
 ['13702745'],
 ['2455595'],
 ['76241'],
 ['16171754'],
 ['5124235'],
 ['14421409'],
 ['123715', '4197122'],
 ['4722301', '13843009'],
 ['4182577', '4181099'],
 ['61485'],
 ['248045', '4271950'],
 ['10178', '1425345'],
 ['4422307'],
 ['1199849'],
 ['3142910'],
 ['14046452'],
 ['509126', '191735'],
 ['39206'],
 ['4722647'],
 ['14557047'],
 ['72305'],
 ['628281'],
 ['7055681', '15422617', '5377656'],
 ['4030095'],
 ['183264'],
 ['3780'],
 ['4587477'],
 ['9987'],
 ['4410033'],
 ['5186348'],
 ['4149205'],
 ['5764529'],
 ['4874418', '4515886'],
 ['285730',
  '48885',
  '257412',
  '333027',
  '52752',
  '452559',
  '108548',
  '19305',
  '4833294',
  '2917920'],
 ['238333', '2898500'],
 ['97136', '5052169', '8436137'],
 ['26738'],
 ['15298003'],
 ['486348', '14243187'],
 ['1054408'],
 ['2906082'],
 ['5158478'],
 ['6567626', '10785266'],
 ['1774448', '5752282'],
 ['4353973', '92243'],
 ['7221185', '7221186'],
 ['8194109', '2940867', '2940868'],
 ['3319233'],
 ['3130410'],
 ['745566'],
 ['3319233'],
 ['2728589', '4998149', '2988', '4038401'],
 ['997204'],
 ['15058312'],
 ['261865', '654218'],
 ['7069686'],
 ['5158478', '3008079'],
 ['3120437'],
 ['6475427'],
 ['5151420'],
 ['3237086'],
 ['61162'],
 ['5350866'],
 ['640759'],
 ['454351', '6475426'],
 ['6568302'],
 ['7799', '5447238'],
 ['1014253'],
 ['133658'],
 ['4599042'],
 ['5822041', '217843'],
 ...]

In [ ]:
author_with_names = []

In [60]:
some_value = df_authors[df_authors['author_id'] == '604031'][['name']]

In [69]:
a = list(some_value['name'].unique())

In [72]:
a.append("jk rowling")

In [73]:
a

['Ronald J. Fields', 'jk rowling']

In [75]:
", ".join(a)

'Ronald J. Fields, jk rowling'

In [51]:
df_authors['author_id'] = df_authors['author_id'].astype(str)

In [76]:
ultimate_author_column = []
for arr_list in author_dic_list2:
    str_value = ""
    for l in arr_list:
        some_value = df_authors[df_authors['author_id'] == l][['name']]
        a = list(some_value['name'].unique())
        str_value = a[0] + " "
        
    ultimate_author_column.append(str_value)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [80]:
len(df_books)

2360655

In [81]:
len(ultimate_author_column)

99449

This took a long time to run, and as we were running on time constraint it was not possible to extract all authors. Therefore, we didnt take the others information.

In [83]:
df_books.head()

,book_id,isbn,title,authors
0,5333265,0312853122,W.C. Fields: A Life on Film,"[{'author_id': '604031', 'role': ''}]"
1,1333909,0743509986,Good Harbor,"[{'author_id': '626222', 'role': ''}]"
2,7327624,NaN,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","[{'author_id': '10333', 'role': ''}]"
3,6066819,0743294297,Best Friends Forever,"[{'author_id': '9212', 'role': ''}]"
4,287140,0850308712,Runic Astrology: Starcraft and Timekeeping in ...,"[{'author_id': '149918', 'role': ''}]"